# Entorno actual: development o production
APP_ENV=development

# Configuración de Base de Datos
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=tu_contraseña_aqui
DB_DATABASE=optimizador_rutas

# Seguridad de Flask
FLASK_SECRET_KEY=clave_secreta_super_segura_de_produccion
